.container{
    background-color: aquamarine;
}

.sidebar{
    background-color:azure;
    width: 300px;
    height: 100vh;
    text-decoration: none;
    display: flex;
    padding: 5px;
}

li{
    text-decoration: none;
    list-style-type: none;
}

.litems{
    width: 230px;
    font-weight: 500;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.litems:hover{
        font-weight: 500;
        justify-content: flex-start;
        margin: 5px;
        margin-left: 5px;
        background-color: white;
        color: black;
        border-radius: 5px;
        border-color: black;
        border-width: 1px;
        cursor: pointer;
}

ul{
    text-decoration: none;
    margin-left: 0px;
}