<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    
    <div class="container">
        <div class="sidebar">
            <ul>
                <div class="litems"><li>Home</li></div>
                <div class="litems"><li>About</li></div>
                <div class="litems"><li>Loan Account</li></div>
                <div class="litems"><li>Tansactions</li></div>
            </ul>
        </div>
    </div>
</body>
</html>